.text-justify {
  text-align: justify;
  margin-bottom:3rem;
}

.cards {
  padding: 6rem 0;
  background-color: #F4F4F4;
}

.solution-category-button {
  position: absolute;
  bottom: 0.5rem; /* Ajuste o espaçamento do fundo conforme necessário */
  right: 0.5rem; /* Ajuste o alinhamento à direita conforme necessário */
}
