html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.footer {
    background-color: #222222;
    text-align: center;
    color: white;
}

.footer a {
    text-decoration: none;
    color: #ffffff;
}

.footer a:hover {
    text-decoration: underline;
}
