.funcoes-container {
    text-align: left; /* Alinha todo o conteúdo à esquerda */
    padding: 1.5rem 5rem;
    width:40rem;
    text-align: justify;
}


h2, h3, p {
    margin-bottom: 1rem; /* Dá um espaçamento entre os elementos */
}

.botao-solicitacao-acesso {
    margin-top: 1rem; /* Dá um espaçamento em cima do botão */
}

.topico-funcoes {
    margin-bottom: 5rem; /* Adiciona um espaçamento de 10rem entre os tópicos */
}

.titulo-funcoes {
    position: relative; /* Necessário para o pseudo-elemento ser posicionado em relação ao título */
    display: inline-block; /* Garante que o pseudo-elemento seja posicionado corretamente */
    margin-bottom: 5rem; /* Adiciona algum espaço abaixo do título */
}

.titulo-funcoes:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.5rem; /* Ajuste a posição vertical conforme necessário */
    width: 100%;
    height: 0.5rem; /* Ajuste a altura do rabisco conforme necessário */
    background: #FFBE21;
    border-radius: 0.25rem; /* Adiciona bordas arredondadas para um efeito de pincelada mais suave */
}
.botao-solicitacao-acesso {
    background-color: #FFBE21;
    border-color: #FFBE21;
}