.main-banner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 1rem;
  position: relative;
}

.content-left {
  width: 100%;
  text-align: justify;
  margin-bottom: 2rem;
}

.content-left h2 {
  font-size: 2rem;
  text-align: left;
}

.content-left h3 {
  font-size: 1rem;
}

.content-right {
  width: 100%;
  text-align: center;
}

.content-right img {
  max-width: 100%;
  height: auto;
}


@media (max-width: 767px) {
  .content-right {
    display: none; 
  }
}


@media (min-width: 768px) {
  .content-left {
    width: 40%;
  }

  .content-right {
    width: 60%;
    text-align: right;
  }

  .main-banner {
    padding:  0;
  }
}
