.main-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15rem 0rem;
  max-height: 20rem;
  position: relative;
}

.content-left {
  width: 40%;
  text-align: justify;
}

.content-left h2 {
  font-size: 2rem;
  text-align: justify;
}

.content-left h3 {
  font-size: 1rem;
}

.content-right {
  width: 60%;
  text-align: right; /* Alinha à direita */
}

.content-right img {
  max-width: 100%; /* Garante que a imagem não ultrapasse o contêiner */
  height: auto;
  margin-right:10%;
}

.button {
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-top: 1rem;
  padding: 1rem 0;
}

