.sub-banner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left-side {
    width: 30%;
    padding: 5rem 3rem;
    text-align: justify;
}

.left-side-2 {
    width: 60%;
    padding: 5rem 3rem;
    text-align: justify;
}

.right-side-2 {
    padding: 5rem 3rem;
    width: 40%;
    flex: 1;
    text-align: justify;
}

.right-side-2 h2{
    text-align:center;
}

.right-side {
    padding: 5rem 3rem;
    width: 70%;
    flex: 1;
    text-align: right;
    margin-right:20rem;
}

.right-side ul {
    list-style-type: none;
    padding: 0;
}

.right-side li {
    margin-bottom: 1rem;
}

.left-side-2 {
    text-align: center; /* Centraliza horizontalmente o conteúdo do contêiner */
}

.github-icon {
    width:15rem;
    display: block;        /* Garante que a imagem ocupe a largura total disponível e fique acima do botão */
    margin: 0 auto 10px;   /* Centraliza a imagem e adiciona espaço abaixo dela */
}

.button {
    display: inline-block; /* Centraliza o botão como um bloco, mantendo-o abaixo da imagem */
}